*[b-5bndfk4shp] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body[b-5bndfk4shp] {
    font-family: Arial, sans-serif;
    background-color: #3a0647;
}

.header[b-5bndfk4shp] {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #4b045d;
    color: #ffffff;
    padding: 10px 20px;
}
a[b-5bndfk4shp] {
    text-decoration:none;
    color: white;
}
    .header h1[b-5bndfk4shp] {
        font-size: 1.8rem;
        margin: 0;
    }

.nav-links[b-5bndfk4shp] {
    display: flex;
}

    .nav-links a[b-5bndfk4shp] {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.1rem;
        margin-left: 20px;
        transition: color 0.3s ease;
    }

        .nav-links a:hover[b-5bndfk4shp] {
            color: #dddddd;
        }

.content[b-5bndfk4shp] {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    line-height: 1.6;
}
