@page "/Login"
@rendermode InteractiveServer
@using ControleDeEstabelecimentos.Modelos;
<div class="login-container">
    <div class="login-box">
        <h2>Login</h2>
        <form>
            <div class="form-group">
                
                <input placeholder="Usuário" type="text" id="username" name="username" @bind="teste1" required>
            </div>
            <div class="form-group">
                
                <input placeholder="Senha" type="password" id="password" name="password" @bind="teste2" required>
            </div>
            <button type="submit">Entrar</button>
            
        </form>
        <div class="bottom-text">
            <p>Não tem uma conta? <a href="Signup">Registre-se aqui</a></p>
        </div>
    </div>
</div>
@{
    
}
@code
{
    public string? teste1;
    public string? teste2;

   
}
