*[b-8jyen0kfee] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[b-8jyen0kfee] {
    overflow-x: hidden;
    background-color: #3a0647;
}

.login-container[b-8jyen0kfee] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box[b-8jyen0kfee] {
    width: 400px;
    background-color: #3a0647;
    color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px #6a0dad;
    text-align: center;
}

    .login-box h2[b-8jyen0kfee] {
        margin-bottom: 20px;
    }

.form-group[b-8jyen0kfee] {
    margin-bottom: 20px;
    text-align: left;
}

    .form-group label[b-8jyen0kfee] {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input[b-8jyen0kfee] {
        width: 100%;
        padding: 8px;
        font-size: 1rem;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

button[b-8jyen0kfee] {
    width: 100%;
    padding: 10px;
    background-color: rgb(75, 4, 93);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover[b-8jyen0kfee] {
        background-color: rgb(87, 4, 101);
    }

.bottom-text[b-8jyen0kfee] {
    margin-top: 20px;
}

    .bottom-text p[b-8jyen0kfee] {
        color: #888888;
        font-size: 0.9rem;
    }

    .bottom-text a[b-8jyen0kfee] {
        color: #ffffff;
        text-decoration: underline;
        transition: color 0.3s ease;
    }

        .bottom-text a:hover[b-8jyen0kfee] {
            color: #dddddd;
        }

/* media tela de login para celulares */
@media (max-width: 400px) {
    .login-box[b-8jyen0kfee] {
        width: 90%; 
        padding: 20px;
    }

    button[b-8jyen0kfee] {
        font-size: 0.9rem;
        padding: 8px; 
    }
}