*[b-8jyen0kfee] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body[b-8jyen0kfee] {
    overflow-y: hidden;
}
html[b-8jyen0kfee] {
    overflow-y: hidden;
    background-color: #3a0647;
}

.login-container[b-8jyen0kfee] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box[b-8jyen0kfee] {
    width: 400px;
    background-color: white;
    color: #808080;
    padding: 30px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px #2e9fea;
    text-align: center;
}

    .login-box h2[b-8jyen0kfee] {
        margin-bottom: 20px;
    }

.form-group[b-8jyen0kfee] {
    margin-bottom: 30px;
    text-align: left;
}
    form placeholder[b-8jyen0kfee] {
        color: #bcbcbc;
    }

    .form-group label[b-8jyen0kfee] {
        display: block;
        margin-bottom: 5px;
    }

    .form-group input[b-8jyen0kfee] {
        width: 100%;
        padding: 8px;
        font-size: 1rem;
        border: 1px solid #ddd;
        border-radius: 20px;
    }

button[b-8jyen0kfee] {
    width: 100%;
    padding: 10px;
    background-color: #66b1e3;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover[b-8jyen0kfee] {
        background-color: #4fa7e2;
    }

.bottom-text[b-8jyen0kfee] {
    margin-top: 20px;
}

    .bottom-text p[b-8jyen0kfee] {
        color: #66b1e3;
        font-size: 0.9rem;
    }

    .bottom-text a[b-8jyen0kfee] {
        color: #808080;
        text-decoration: underline;
        transition: color 0.3s ease;
    }

        .bottom-text a:hover[b-8jyen0kfee] {
            color: #9a9a9a;
        }

/* media tela de login para celulares */
@media (max-width: 400px) {
    .login-box[b-8jyen0kfee] {
        width: 90%; 
        padding: 20px;
    }

    button[b-8jyen0kfee] {
        font-size: 0.9rem;
        padding: 8px; 
    }
}