@inherits LayoutComponentBase

<div class="page">
    <div class="header">
        <NavMenu />
    </div>

    <main>

        <article class="login-container">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
