.card[b-x0adpbawup] {
   
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #aacce3;
    border-radius: 20px;
}
.col-md-8 h1[b-x0adpbawup] {
    color: #808080;
}
.col-md-8 h5[b-x0adpbawup] {
    color: #808080;
}
.col-md-8 p[b-x0adpbawup] {
    color: #808080  ;
}
.col-md-8 div[b-x0adpbawup] {
    border-color: #aacce3;
}
.col-md-4 img[b-x0adpbawup] {
    width: 9em;
}
.btn-primary[b-x0adpbawup] {
    border-radius: 15px;
}