.estrelas input[type=radio][b-rln0ym50am] {
    display: none;
}

.estrelas label i.fa[b-rln0ym50am]:before {
    content: '\f005';
    color: #FC0;
}

.estrelas input[type=radio]:checked ~ label i.fa[b-rln0ym50am]:before {
    color: #CCC;
}