@page "/"
@using BlazorApp1.Components.Controller
@using ControleDeEstabelecimentos.Dados
@rendermode InteractiveServer


@code {

    CodigoAleatorio A = new CodigoAleatorio();
    string b = "#";
    bool desativadoEntrar = false;
    bool desativadoSair = true;

    void EntrarFila()
    {
        b = A.CriarCodigo();
        desativadoEntrar = true;
        desativadoSair = false;
    }
    void SairFila()
    {
        b = "#";
        desativadoEntrar = false;
        desativadoSair = true;
    }
    


}

@{
    
    //var token = HttpContextAccessor.HttpContext.Request.Cookies["access_token"];
}
<PageTitle>CodigoFila</PageTitle>

<!--Card-->
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="./mcdonalds.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">McDonalds</h5>
                <h1> @b</h1>
                <p class="card-text"><small class="text-body-secondary">Tempo de espera aproximado: 10min</small></p>
            </div>
        </div>
    </div>
</div>
<button type="button" @onclick="EntrarFila" class="btn btn-primary" disabled="@desativadoEntrar">entrar na fila</button>
<button type="button" @onclick="SairFila" class="btn btn-primary" disabled="@desativadoSair">sair da fila</button>




