@page "/PaginaEstabelecimentos"

@rendermode InteractiveAuto


<div class="page">

    <main>

        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="./mcdonalds.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">McDonalds</h5>
                            
                            <a href="/PaginaFila" class="btn btn-primary">Entrar na Fila</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="./BurguerKing.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Burguer King</h5>
                             
                            <a href="#" class="btn btn-primary">Entrar na Fila</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="./Itau.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Banco Itau</h5>
                            
                            <a href="#" class="btn btn-primary">Entrar na Fila</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="./Santander.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Banco Santander</h5>
                            
                            <a href="#" class="btn btn-primary">Entrar na Fila</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="./Kfc.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">KFC</h5>
                            
                            <a href="#" class="btn btn-primary">Entrar na Fila</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="./MaterDei.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mater Dei</h5>
                          
                            <a href="#" class="btn btn-primary">Entrar na Fila</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="./BabyBeef.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Baby Beef</h5>
                            
                            <a href="#" class="btn btn-primary">Entrar na Fila</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="./BancoBrasil.svg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Banco do Brasil</h5>
                            
                            <a href="#" class="btn btn-primary">Entrar na Fila</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="./Bh.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Supermercados BH</h5>
                            <a href="#" class="btn btn-primary">Entrar na Fila</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="./DetranMg.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Detran MG</h5>
                            <a href="#" class="btn btn-primary">Entrar na Fila</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>
    <br>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


