@page "/PaginaFila/{Teste:int}"
@rendermode InteractiveAuto
@code {
    [Parameter]
    public int Teste { get; set; }
}
<div class="card mb-3" >
    @switch(Teste){
        case 1:
        <img src="./mcdonalds.png" style="width: 15rem;" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">McDonalds</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
            break;
        case 2:
            <img src="./BurguerKing.png" style="width: 15rem;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Burguer King</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
            break;
        case 3:
            <img src="./Itau.png" style="width: 15rem;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Banco Itau</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
            break;
        case 4:
            <img src="./Santander.png" style="width: 15rem;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Banco Santader</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
            break;
        case 5:
            <img src="./Kfc.jpg" style="width: 15rem;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">KFC</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
            break;
        case 6:
            <img src="./MaterDei.png" style="width: 15rem;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mater Dei</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
            break;
        case 7:
            <img src="./BabyBeef.png" style="width: 15rem;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Baby Beef</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
            break;
        case 8:
            <img src="./BancoBrasil.svg" style="width: 15rem;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Banco do Brasil</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
            break;
        case 9:
            <img src="./Bh.png" style="width: 15rem;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Supermecados Bh</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
            break;
        case 10:
            <img src="./DetranMg.png" style="width: 15rem;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Detran MG</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
            break;
        default:
            break;

    }
    <div class="mb-3">
        <label for="avaliacao" class="form-label">Deixe sua avaliação aqui:</label>
        <textarea class="form-control" id="avaliacao" rows="3"></textarea>
    </div>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <div class="estrelas">
        <input type="radio" id="cm_star-empty" name="fb" value="" checked />
        <label for="cm_star-1"><i class="fa"></i></label>
        <input type="radio" id="cm_star-1" name="fb" value="1" />
        <label for="cm_star-2"><i class="fa"></i></label>
        <input type="radio" id="cm_star-2" name="fb" value="2" />
        <label for="cm_star-3"><i class="fa"></i></label>
        <input type="radio" id="cm_star-3" name="fb" value="3" />
        <label for="cm_star-4"><i class="fa"></i></label>
        <input type="radio" id="cm_star-4" name="fb" value="4" />
        <label for="cm_star-5"><i class="fa"></i></label>
        <input type="radio" id="cm_star-5" name="fb" value="5" />
    </div>

</div>


