
.navbar-nav .nav-link {
    color: #2e9fea !important;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 2px;
    transition: background-color 0.3s, border-color 0.3s;
}
.navbar-nav .nav-link:hover {
    background-color: #e9f5fc;
    border-color: #2e9fea;
    color: #2e9fea !important;
}
.navbar-brand img {
    max-height: 50px;
}
.navbar {
    text-align: center;
}
.navbar-collapse {
    justify-content: center;
}

/* Estilos de design da página após o header */
.container {
    margin-top: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
}

.card-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.fila-info {
    text-align: left;
    margin-top: 10px;
}

.fila-info p {
    margin: 5px 0;
}

.fila-info .tempo-espera {
    color: #ff5722;
    font-weight: bold;
}

.fila-info .num-pessoas {
    color: #28a745;
    font-weight: bold;
}

.adicionar p{
    font-size: 550%;
    color: white;
}
.adicionar{
    background-color: #007bff;
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 2%;
    text-decoration: none;
    color: inherit; 
}
a:hover, a:focus {
text-decoration: none; /* Evita o sublinhado ao passar o mouse */
color: inherit; /* Mantém a cor ao passar o mouse */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .col-md-6 {
        width: 100%;
    }
}
